[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cors-headers = "*"
pymysql = "*"
gradio-client = "*"
python-dotenv = "*"
django = "==5.2.8"
dj-database-url = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
